@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    font-family: 'EB Garamond', serif;
}

body {
    background-image: url(_.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


.box {
    width: 50%;
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: linear-gradient(45deg, rgb(202, 204, 208), rgb(104, 172, 191), rgb(85, 86, 6));
    border-radius: 10px 10px 10px 10px;
    transition : .4s linear
   
}
.box a {
    font-size: 200% ;
    font-weight: 400px;
    padding: 3%;
}


#data {
    color: #000000;
    text-align: center;
    text-decoration-color: #45536d;
    margin-left: 25%;
    width: 50%;
    margin-top: 0.2%;
    font-size: 21px;
    padding-top: .1%;
    line-height: 100%;
    transition : .4s linear
}



