body{
    background: url(fon.jpeg);
    background-repeat: no-repeat;
    background-position:;
    background-attachment:;
    background-size: cover;
}

h1{
    color: black;
    font-family: cursive;
    text-align: center;
}
.content{
    background-color:#f6e5c7;
    width: 50%;
    height: 150%;
    margin-left: 400px;
    border: 3px groove; black;
    border-radius: 5px;
}
p{
font-family: cursive;
text-align: center;
}